header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  a {
    color: #fff !important;
  }

  nav {
    max-width: 1000px;
    margin: 0 auto;
    height: 70px;
    background: transparent;
    @include flexCenter;

    h1 {
      a {
        letter-spacing: 2px;
        font-size: 2.4rem;
        font-family: $ft_eng;
        font-weight: 700;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      transition: transform 0.3s;
      justify-content: center;

      &.view {
        transform: scaleY(1);
        opacity: 1;
        pointer-events: all;
      }

      li {
        margin: 0 20px;
        padding: 0 2px;
        @include hover_ani;

        a {
          font-size: 1.6rem;
          font-weight: 4700;
          letter-spacing: 1px;
        }
      }
    }

    .sns_links {
      display: flex;

      a {
        color: rgba(255,255,255,1);
        font-size: 8px;
        display: inline-block;
        padding: 6px;
        background: rgba(255,255,255,.1);
        text-align: center;
        border-radius: 100%;
        margin: 6px;
        border: 1px solid rgba(255,255,255,0.4);
      }
    }
  }
}

.mobile_btn {
  display: none;
}

@media (max-width:769px) {
  .mobile_btn {
    display: block;
  }

  header {
    position: relative;
    background: #fff;

    a {
      color: #111 !important;
    }

    nav {
      padding: 0 5%;
      justify-content: space-between;

      ul {
        padding: 1.5rem 0;
        position: absolute;
        top: 79px;
        left: 0;
        background: #fff;
        text-align: center;
        border-top: 1px solid #eaeaea;
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        pointer-events: none;
        @include flexColumn;

        li {
          padding: 1.5rem 0;
        }
      }

      .sns_links {
        display: none;
      }
    }
  }

  .main_img {
    margin-top: -80px;
  }
}
